body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 900;
}

p {
  color: #8f8f8f;
}

/* Headings */
.lg-heading {
  font-size: 3.5rem;
  line-height: 1.5;
}

.seciton-heading {
  font-size: 3rem;
  line-height: 1.5rem;
}

#pricing .seciton-heading {
  line-height: 3rem;
}

/* Containers */
.container-fluid {
  padding: 7% 15%;
  overflow: hidden;
}

/* Sections */
.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Navigation Bar*/
.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: normal;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

/* Title section */
#title .container-fluid {
  padding: 3% 15% 7%;
  overflow: hidden;
  text-align: left;
}

/*Title image */
.iphone-food {
  transform: rotate(25deg);
  margin-bottom: -65%;
  width: 60%;
  position: relative;
  left: 15%;
}

/* Buttons */
.download-btn {
  margin: 5% 3% 5% 0;
}

/*Features*/
.feature-title {
  font-size: 1.5rem;
}

.feature-icon {
  padding: 1rem 0;
  color: #ef8172
}

.feature-icon:hover {
  color: #ff4c68;
}

/* Testimonials */
#testimonials {
  background-color: #ef8172;
}

.testimonial-img {
  border-radius: 50%;
  width: 10%;
  margin: 1.5rem;
}

.testimonil-text {
  font-size: 3rem;
  line-height: 1.5;
}

/* Press Section*/
#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 1.5rem 1.5rem;
}

/* Pricing */
#pricing {
  padding: 6.25rem;
}

.pricing-col {
  padding: 3% 2%;
}
/* Call to Action */

/* footer */

#footer i {
  padding: 1rem;
}

/* Mobile responsive */
@media (max-width: 990px) {
  .iphone-food {
    transform: rotate(0);
    position: static;
  }

  #title .container-fluid {
    text-align: center;
  }
}

.navbar {
  text-align: right;
}
